<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-luisnegronnaldos/blob/main/Semana3_Actividad1_A01793865.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Nombre: Luis Alfredo Negron Naldos**

**Matricula: A01793865**

**Curso: Ciencias y Analítica de Datos**

**Profesor: Jobish Vallikavungal Devassia**

## PARTE1: Fundamento de Base de datos

**Fundamentos de Base de Datos y Para Ciencia de Datos**

Como lo indican las lecturas recomendadas, las bases de datos son grandes almacenes de información que permiten registrar diferentes tipos de eventos, en diferentes formatos e inclusive en diferentes tiempos (algunos datos se actualizan en el tiempo). 
 
El proceso tradicional de ingreso de información a la datawarehouse es el ETL, pero bajo las nuevas prácticas de subir información no estructurada a la nube, sobre todo a bases de datos tipo datalake se hace primera la extracción y carga de data y luego se genera el proceso de transformación según sea necesario. 
 
El uso de base de datos de gran tamaño se ha proliferado en los últimos años lo que ha dado espacio para el crecimiento ecosistemas de trabajo en big data, muchos de ellos en entornos de servidores en la nube que prometen la flexibilidad y velocidad requerida por los diferentes proyectos que ha permitido a entornos como Hadoop por ejemplo.
 
Un punto adicional a considerar es la veracidad de los datos, al tener una gran de información la probabilidad que se filtre información erronea es alta, por lo que se deben procesos de validación y consistencia de los datoa para garantizar que posteriormente puede ser usado proceso de machine learning por ejemplo.

**Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**

El almacenamiento de datos para ciencia de datos implica una serie de elementos críticos a considerar, partiendo desde el formato de la información, si son datos estructurados o no estructurados, la consistencia de los datos, que no se presenten datos en blanco o datos atípicos y sobre todo considerar las transformaciones necesarias para poder luego hacer los algoritmos de entrenamiento en un proceso de machine learning, es decir que sirvan en el formato adecuada para su uso. 
 
Adicionalmente es importante evaluar la integración de los datos en un warehouse para poder generar a partir de ese punto un proceso de extracción de conocimiento (conocido como KDD), es así que muchas empresas tienen diferentes tipos de base de datos procedentes de diferentes programas que no necesariamente son compatibles unos con otros, por eso la importancia de generar almacenes de datos integrados o Datawarehouse y de ahí realizar la generación de bases más pequeñas para proyectos de analítica de datos, estas bases más pequeñas se le conocen con Data Mart. 
 
En el caso de los Datawarehouse para proyectos de analítica se suele preferir bases de datos estructuradas, pero la cantidad de información actualmente hace que la preferencia por base de datos no estructuradas sean cada vez mayor, en este sentido las bases de datos denominadas Data Lake son una solución cada vez más usada, en mi experiencia profesional he trabajado con data lakes de AWS y estos han permitido mucha flexibilidad en el manejo de la información pero ha denotado un trabajo importante de transformación y ordenamiento antes de poder usarla en los proyectos de analítica de la empresa.

## PARTE2: Selección y limpieza de los Datos en Python

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Aqui se carga la base de datos desde el contenedor github. 
url = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'
df = pd.read_csv(url)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

# Descripción de la Base de Datos
**X1**: Monto del crédito otorgado (dólar NT): incluye tanto el crédito de consumo individual como su crédito familiar (complementario).

**X2**: Género (1 = masculino; 2 = femenino).

**X3**: Educación (1 = posgrado; 2 = universidad; 3 = secundaria; 4 = otros).

**X4**: Estado civil (1 = casado; 2 = soltero; 3 = otros).

**X5**: Edad (año).

**X6 - X11**: Historial de pagos pasados. Hicimos un seguimiento de los registros de pagos mensuales pasados ​​(de abril a septiembre de 2005) de la siguiente manera: X6 = el estado de pago en septiembre de 2005; X7 = el estado de pago en agosto de 2005; . . .;X11 = estado de amortización en abril de 2005. La escala de medición del estado de amortización es: -1 = pagar debidamente; 1 = retraso en el pago de un mes; 2 = retraso en el pago de dos meses; . . .; 8 = retraso en el pago de ocho meses; 9 = retraso en el pago de nueve meses o más.

**X12-X17:** Importe del estado de cuenta (dólar NT). X12 = monto del estado de cuenta en septiembre de 2005; X13 = monto del estado de cuenta en agosto de 2005; . . .; X17 = monto del estado de cuenta en abril de 2005.

**X18-X23:** Monto del pago anterior (dólar NT). X18 = monto pagado en septiembre de 2005; X19 = monto pagado en agosto de 2005; . . .;X23 = monto pagado en abril de 2005.

**Primera Solución Eliminando Datos Faltantes**

In [6]:
#con esta función se verifica si hay datos faltantes 
df.isnull().values.any()

True

In [4]:
df.isnull().any()
#como se puede observar la mayoria de las columnas tienen datos faltantes, desde la X2 hasta la Y

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [7]:
df.dropna(inplace = True)
# con esta opción se elimina los datos faltantes.

In [8]:
df.isnull().values.any()
#Aqui verificamos que la base de datos a quedado sin datos faltantes.

False

In [9]:
df.isnull().any()

ID     False
X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

In [10]:
df
# Al correr nuevamente la vista de "df" vemos que ahora tiene 29958 filas vs las 30000 filas iniciales. Esto se debe por las filas que se han eliminado con datos faltantes

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [12]:
df.describe()
#Aqui describo los datos actuales para ver como queda eliminando los datos faltantes... antes de generar reemplazos con la media.

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,15005.550504,167555.900928,1.604012,1.853094,1.551739,35.483443,-0.017124,-0.134021,-0.166767,-0.221110,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,8654.547473,129737.299088,0.489070,0.790471,0.521952,9.214319,1.123989,1.197171,1.196026,1.168419,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7516.250000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,15005.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22497.750000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

**Segunda Alternativa Reemplazando Valores **

In [24]:
#Aqui se carga la base de datos desde el contenedor github. 
url = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'
df = pd.read_csv(url)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [25]:
ndf = df.copy() #hacemos una copia de la base de datos

In [21]:
Ximean = ndf.X2.mean() # Por ejemplo en este caso si uso la media, obtenemos valores que forman parte de la base de datos (los datos son ordinales)
Ximean

1.603753458448615

## Reemplazo de X2, X3 y X4 por el valor de la moda

In [28]:
Ximode = ndf.X2.mode() # En esta caso es mejor usa la mediana que me permite obtener un valor real para la base de datos 
Ximode

0    2.0
dtype: float64

In [29]:
ndf['X2'].fillna(value = Ximode, 
                    inplace = True)# Aqui estoy reemplazando los valores faltanes de X2 por la moda al ser un valor categorico

In [30]:
Ximode = ndf.X3.mode()
ndf['X3'].fillna(value = Ximode, 
                    inplace = True)# Aqui estoy reemplazando los valores faltanes de X3 por la moda al ser un valor categorico

In [31]:
Ximode = ndf.X4.mode()
ndf['X4'].fillna(value = Ximode, 
                    inplace = True)# Aqui estoy reemplazando los valores faltanes de X4 por la moda al ser un valor categorico

## Reemplazo de X5 por el valor de la media

In [32]:
Ximean = ndf.X5.mean()
ndf['X5'].fillna(value = Ximean, 
                    inplace = True)# Aqui estoy reemplazando los valores faltanes de X5 por la media

## Eliminación de los datos faltantes para  de X6 a X11

In [33]:
ndf.dropna(subset=['X6', 'X7', 'X8', 'X9', 'X10', 'X11'], inplace = True)
ndf # aqui elimino los datos faltantes de X5 a X11

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [35]:
df.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,8660.398374,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [34]:
ndf.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29978.000000,29978.000000,29978.000000,29978.000000,29978.000000,29978.000000,29978.000000,29978.000000,29978.000000,29978.000000,...,29971.000000,29969.000000,29973.000000,29975.000000,2.997400e+04,29975.000000,29973.000000,29972.000000,29973.000000,29975.000000
mean,14999.834312,167526.842351,1.604043,1.853059,1.551805,35.485838,-0.016846,-0.133865,-0.166555,-0.221062,...,43271.461379,40321.123895,38879.575018,5664.736681,5.924217e+03,5226.979483,4828.786808,4801.313760,5218.976112,0.221184
std,8658.351060,129740.945308,0.489063,0.790445,0.521993,9.217635,1.123856,1.197230,1.196193,1.168638,...,64356.015595,60819.281153,59572.086998,16568.559200,2.305050e+04,17613.216632,15672.751960,15284.679035,17785.041402,0.415051
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7505.250000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2320.000000,1761.000000,1256.000000,1000.000000,8.335000e+02,390.000000,296.000000,251.000000,116.000000,0.000000
50%,14999.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19037.000000,18100.000000,17063.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22495.750000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54523.000000,50209.000000,49209.000000,5006.000000,5.000000e+03,4507.000000,4014.000000,4037.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

## PARTE3: Preparación de los datos

**¿Qué datos considero mas importantes? ¿Por qué?**

Dado que la variable que quiero predecir es importante considerar las variables que más puedan aportar el modelo predictivo. En ese sentido considero que las principales variables son: 

**X6 - X11:** Historial de pagos pasados. Al presentear el historial de pagos considero que es la principal variable a tomar en el modelo, y dado que tiene un escala nominal, no es lógico cambiar por el valor de media en este caso. Prefiero eliminar los datos faltantes.

**X12-X17:** Importe del estado de cuenta (dólar NT). El importe de la cuenta en un factor que se debe tomar en consideración para el objetivo propuesto para el caso. Sobre todo para la estimación de la probabilidad suavizada como lo comenta el caso. Prefiero eliminar los datos faltantes

**X18-X23:** Monto del pago anterior (dólar NT). X18 = monto pagado en septiembre de 2005; X19 = monto pagado en agosto de 2005; . . .;X23 = monto pagado en abril de 2005.Prefiero eliminar los datos faltantes

**¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

Se realizaron reemplazos en las variables X2, X3, X4 por el valor de la moda, dado que son variables del tipo nominal y para las variables X5 el valor de la media. 
En mi caso de las demás variable se determino eliminar los datos faltantes y no reemplazarlos. Esto debido a que consideramos que alterarían los resultados del modelo de predicción y eran poco registros por lo que no impactaría en el resultado final de entrenamiento.

**¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?**


Considero que no es necesario ordenar los datos dado que son datos independientes de diferentes clientes y que exista una orden ascendente o desendente no genera una mayor efecto en su análisis. Importante mencionar que muchas de las variables son categóricas y no son númericas propiamente dicho.

**¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**


En este caso los datos tienen formato númerico, nominal y ordinal. En el caso de los datos ordinales, se esta considerando no reemplazar los valores faltantes motivo por el cual consideramos que no es necesario cambiar el formato de los datos.

**¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

En resumen se realizaron los siguientes ajustes:

1. Para el caso de los datos descriptivos, que eran variables nominales X2 a X4 fueron reemplazados por el valor de la moda. 

2. Para el caso de la variable X5 por ser edad se utilizo la media como mejor valor para completar la información. 

3. En el caso de las variables X6 a X11 se decidió eliminar los datos faltantes al considerar que el promedio no permite un valor representativo del comportamiento de los datos.